@charset "utf-8";
html,body{
  -webkit-text-size-adjust:none;
  font-family:Verdana, 'Noto Sans TC','Microsoft JhengHei', sans-serif;
  font-size: 17px;
  text-align: center;
  margin: 0;
  color:#444444;  
}
a{
  text-decoration: none;
  color: #4c3f40;
  cursor: pointer;
}
img{ display: block; width: 100%;}
.flexbox{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
}
.flexStart{justify-content: flex-start;}
.flexCenter{justify-content: center;}
.alignCenter{align-items: center;}
.relative,.contentBox,.contentBox2{
  position: relative;
}
.absolute{
  position: absolute;
}
.menuArea{
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 98%;
}
.logo,.smArea{
  padding-top: 3%;
}
.marqueeBg{z-index: 1;width: 80%;}
.marquee {
    left: 20%;
    top: 63%;
    transform: translate(-2% , -40%);
    z-index: 1;
}
.section1{
  background: url(../images/bg1.jpg) no-repeat;
  width: 100%;
  height: 70vw;
  background-size: cover;
}
.section1con{
  left: 50%;
  transform: translate(-50%,50vh);
  top: -65vh;
}
.question img{
  width: 40%;
  margin: 0 auto;
}
.questionBox{
  color: #867add;
  font-size: 22px;
  line-height: 1.4;
  background-color: #ffe95a;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 2% auto;
  font-weight: 800;
}
.weekTime{
  font-size: 24px;
  font-weight: 800;
  color: #867add;
}
.videoBox{
  width: 90%;
  margin: 0 auto 1% auto;
}
.video{
  width: 70%;
  z-index: 1;
  left: 51%;
  transform: translateX(-50%);
  top: 16%;
}
.videoBox2{
  width: 65%;
  z-index: 1;
  left: 45%;
  transform: translateX(-50%);
  top: 22%;
}

/*iframe youtube-------------------------------------------------*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

    .video-container iframe, .video-container object, .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.margin30{margin:3% auto 0 auto;}
.ad2 img,.s2titleB2Box .titleBox{width: 100%;}
h4{
    font-size: 2.2vmin!important;
    font-weight: 800;
    line-height: 4vmin;
    color: #333333;
}
.starInfo h4{
  color: #ffffff;
    background-color: #ec135a;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 2.8vmin;
    font-weight: normal;
    padding: 3%;
    height: 85px;
    text-align: left;
}
h5{
    letter-spacing: 2px;
    line-height: 2.6vmin;
    font-size: 1.8vmin!important;
    width: 55%;
    margin: 0 auto!important;
    font-weight: normal;
}
.s2titleB2Box{width: 60%;}
h5{text-align: left;}
.ad3,.infoTime li br,.videoPic{display: none;}

.week{
  font-size: 20px;
  line-height: 1.2;
  padding-right: 12px;
}
.week span{
  font-size: 18px;
}
.weekBox{
  width: 20%;
  margin: 1% auto;
}
.weekBoxs{
  cursor: pointer;
}
.start{
  width: 30%;
  margin: 5% auto;
}
.section2{
  background: url(../images/bg3.png) ,
  linear-gradient(90deg, rgba(255,166,182,1) 0%, rgba(255,186,207,1) 50%, rgba(255,166,182,1) 100%);
  width: 100%;
  height: auto;
}
.wrapper{
  max-width: 1200px; 
  width: 100%;
  margin: 0 auto;
  padding: 3% 0;
}
.s5noticeTitle2{width: 20%;}
.sponsorLogo a{width: 22%;}
.giftTitle{width: 25%;}
.s2titleB1,.s5noticeTitle,.sponsorTitle{width: 30%;}
.s4newsTitle,.mamaOwl,.owlStepTitle{width: 40%;margin: 0 auto;}
.s2titleB3{width: 40%;margin: 0 auto 0 0;}
.s3titleB{width: 50%;}
.s3content{width: 54%;}
.s3title{width: 55%;}
.s3iphone11{width: 60%;}
.newsOwl{width: 80%;}
.w100{width: 100%;}
.titleBox{
  width: 60%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.section3 .titleBox{
  width: 95%;
}
.titleBox p,.infoStep3 p,.infoStep4 li{
  font-size: 20px;
  line-height: 2;
  text-align: left;
  margin-top: 4%;
  font-weight: 800;
}
.infoStep2{
  padding: 0 100px;
  margin: 2% auto 0 auto;
}
.title4-1{
  width: 65%;
  right: -65%;
  top: 56%;
}
.margin0{margin: 0 auto;}
.colorY{
  color: #ff5390;
  font-size: 24px;
  font-weight: 800;
}
.FY{
  background-color: #ff5390;
  font-size: 24px;
  font-weight: 800;
  color: #ffe95a;
  margin: 0 2%;
  padding: 1% 3%;
  border-radius: 20px;
}
.fkBr{
  display: none;
}
ul.infoTime{
  text-align: left;
  margin: 5% 0 3% 0;
}
ul.infoTime li{
  font-size: 20px;
  line-height: 2.6;
}
.underline{text-decoration: underline;color: #ff5390;}

/*owl carousel*/
.owl-carousel .carouselNav,.owl-carousel .videoCarouselNav{
    width: 100%;
    position: absolute;       
    display: flex;
    justify-content: space-between;
}
.owl-carousel .carouselNav{top: 45%;}
.owl-carousel .carouselNav_next,.owl-carousel .carouselNav_prev,
.owl-carousel .newsCarouselNav_next,.owl-carousel .newsCarouselNav_prev{
    border: 0px #fff dashed;    
    position: absolute;
    width: 65px;
    height: 40px;
    filter: drop-shadow(0px 0px 6px #ccc);
}
.owl-carousel .carouselNav_next{
    background: url(../images/arrowRight.png) no-repeat center center;
    left: 104%;
  }
.owl-carousel .carouselNav_prev {
    background: url(../images/arrowLeft.png) no-repeat center center;
    left: -20%;
}
.owl-carousel .newsCarouselNav_next{
    background: url(../images/arrowRight.png) no-repeat center center;
    left: 104%;
  }
.owl-carousel .newsCarouselNav_prev {
    background: url(../images/arrowLeft.png) no-repeat center center;
    left: -10%;
}
.item img{width: 100%;}
/*owl carousel end*/

.infoStep3{margin: 5% 0;}
.giftBg{
  background: url(../images/bg2.png) no-repeat;
  background-position: 50% 0%;
  width: 100%;
  height: auto;
  background-size: contain;
}
.giftBox a{margin: 2% 0.3%;width: 22%;}
.section3{
  background: url(../images/bg4.png) #ffe95a repeat;
  width: 100%;
  height: auto;
}
ul.infoStep4 li:before{
  content: "";
  background-image:url(../images/star.png);
  background-size: 100% 100%;
  display: inline-block;
  /*size of your image*/
  height: 30px;
  width: 30px;
  /*if you want to change the position you can use margins or:*/
  position:relative;
  top:5px;
}
ul.infoStep4 li:nth-child(2){
  display: flex;
  align-items: flex-start;;
}

.marginTop5{margin-top: 5%;}
.marginBtm5{margin-bottom: 5%;}
.padding0{padding: 0;}
.flowerBg{
  background: url(../images/bg5.png) no-repeat;
  width: 100%;
  height: auto;
  background-position: 50% 100%;
  background-size: contain;
}
.section4{
  background: url(../images/bg6.jpg) no-repeat;
  width: 100%;
  height: 800px;
}
.newsCarousel .item a{
  display: block;
  background: url(../images/newsBg.png) no-repeat;
  width: 100%;
  height: auto;
  background-size: 100% auto;
}
.newsCarousel .item a h3:hover{color: #444444;}
.newsBox{
  padding: 3.5em;
  text-align: left;
}
.newsTitle{
  color: #ff5390;
  font-size: 18px;
  margin: 3% 0 0.5% 0;
  line-height: 1.4;
}
h3,.newsTitle{
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 17px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: normal;
}
.section5{
  background: url(../images/bg7.png) repeat;
  width: 100%;
  height: auto;
}
.section5 ul{text-align: left;}
.section5 ul li{
  line-height: 1.6;
  margin: 2% 0;
}
.copyright {
    padding: 50px 12px 20px 12px;
    line-height: 1.6;
}
#gotop {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    z-index: 1;
    color: #fca58c;
    font-size: 40px;
}
.fa-angle-up {
    border-radius: 50%;
    background-color: #fccc99;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #ff547a;
    font-size: 24px;
    line-height: 38px!important;
    box-shadow: 0px 0px 6px #ccc;
}
.hidden{display: none;}
.eventGift{
  width: 26%;
  padding-left: 7%;
}
.gift10{
  width: 50%;
  margin: 0 auto;
}
.content{
  display:none;
  position: fixed;
  top: 50%;
  z-index: 3;
  left: 50%;
  transform: translate(-50%,-50%);
}
.contentBg{
  background:url(../images/contentBg.png) no-repeat;
  width: 686px;
  height: 834px;
  position: relative;
  align-content: center; 
}
.contentBg div{
  width: 60%;
  margin:3% auto;
}
.bg{
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  background:#000;
  z-index:2;
  top:0;
  left:0;
  opacity:0.7;
}
.close{
  display: none;
  width: 7%;
  right: 7%;
  top: 2%;
  z-index: 2;
}
.click,.winner{cursor: pointer;}
.s2titleB2{width: 40%;}
[v-cloak] {
  display: none;
}
.winnerTitle{
  font-size: 24px;
  color:#ff5390; 
}
.winnerContent,.winnerContent2{  
  display:none;
  background: #fff;
  position: fixed;
  top: 50%;
  z-index: 3;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #3a3a3a;
  width: 70%;
}
ul.winnerList{
  width: 100%;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.winnerContent ul.winnerList::-webkit-scrollbar-track,
.winnerContent2 ul.winnerList::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}
.winnerContent ul.winnerList::-webkit-scrollbar,
.winnerContent2 ul.winnerList::-webkit-scrollbar {
    width: 10px;
    height: 3px;
    background-color: #F5F5F5;
}
.winnerContent ul.winnerList::-webkit-scrollbar-thumb,
.winnerContent2 ul.winnerList::-webkit-scrollbar-thumb {
    height: 3px;
    background-color: #cccccc;
}
.winnerClose,.winnerClose2{
  display: none;
  width: 4%;
  right: 1%;
  top: 1%;
  z-index: 2;
}
.winnerBg,.winnerBg2{
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  background:#000;
  z-index:2;
  top:0;
  left:0;
  opacity:0.7;
}
ul.winnerList li{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  line-height: 2.2em;
  border-bottom: 1px solid #bbbbbb;
  padding: 0 30px;
}
ul.winnerList li:nth-child(even){
  background-color: #eaeaea;
}
ul.winnerList li ul li,ul.winnerList li ul li:nth-child(even){
  background: rgba(255,255,255,0);
}
ul.winnerList li ul:first-child{
  width: 30%;
  border-right: 1px solid #bbbbbb;
  padding-right: 2em;
  color: #867add;
}
ul.winnerList li ul:nth-child(2){
  width: 70%;
  text-indent: 2em;
}
ul.winnerList li ul li{
  border-bottom: 0;
}
ul.winnerList li ul li span{
  width: 15em;
}
ul.winnerList li.winnerTitle{line-height: 1.6;}
ul.winnerList li span{
  margin: 0 6px;
}
ul.winnerList li a{
  text-decoration:underline;
  color: #e5336a;   
}
ul.winnerList li a:hover{
  color: #867add; 
}

@media (max-width: 1600px) {
  .logo{width: 20%;}
  .menu{width: 40%;}
  .smArea{width: 9%;}
  .smArea div{width: 50%;}
  .marqueeBg{width: 60%;}
}

@media (max-width: 1300px) {  
  .gift10{width: 70%;}
}
@media (max-width: 1200px) {
  .section1{height: 110vw;}
  .section1con{width: 80%;}
  .marquee { left: 13%;}
  .wrapper,.winnerContent{width: 90%;}
  .mamaAd{margin:0 auto;}
  .fkBr{display: block;}
  ul.winnerList li.btmLineM{ border-bottom: 1px solid #727272;}
}
@media (max-width: 900px) {
  .infoTitle,.giftTitle{ width: 35%; margin: 0 auto;}
  .w50t35{ width: 35%;}
  section.section2 br,.section3 br{ display: none;}
  .titleBox,.s2titleB2Box,ul.winnerList li ul:first-child{ width: 100%;}
  .info{ display:block; padding: 0 20px;}
  .infoStep2 { padding: 0 20px;}
  .w60t30,.infoStep3 div,.s2titleB2{width: 30%;}
  .hidden_m{display: none;}
  .visible_m,.infoTime li br,ul.winnerList li{display: block;}
  .title4-1m{
    width: 40%;
    top: 95%;
    right: 0%;
  }
  .s2titleB3{ margin: 0; width: 35%;}
  .w50t90,.section3 .titleBox,.marqueeBg,.gift10{
    width: 90%;
    margin: 0 auto;
  }
  .header_m{
    width: 100%;
    height: auto;
    background-color: #fccc99;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em 0;
  }
  .header_m .smArea{padding: 0;width: 15%;}
  .header_m .logo{width: 30%;padding:0;}
  .menu,.w60t80{ width: 80%; margin: 0 auto;}
  .marquee{ top: 55%;left: 7%;}
  .section1con{ top: -48vh;}
  .section1 { height: 250vw;}
  .question img,.w40t60{width: 60%;}
  .owl-carousel .carouselNav_prev { left: -40%;}
  .newsCarousel .item a { background-size: contain;}
  .contentBg{
    width: 90vw;
    height: calc(90vw * 1.2);
    background-size: cover;
  }
  .giftBox a,.sponsorLogo a,.weekBox{ width: 45%;}
  .weekBox{margin-bottom: 3%;}
  ul.infoTime { margin: 20% 0 3% 0;}
  ul.infoTime li{
    line-height: 1.6;
    font-size: 18px;
    margin: 4% auto;
    text-align: center;
  }
  ul.winnerList li ul:first-child{border:0;}
  ul.winnerList li ul:nth-child(2){text-indent: 0em;width: 100%;}
  .winnerContent { padding: 25px 20px 25px 25px;}
  ul.winnerList li ul li span { margin-right: 24px;}
}
@media ( max-width: 480px) {
.titleBox img,.s2titleB3,.s5noticeTitle2 {
    width: 50%!important;
  }
  .section1 { 
    height: 360vw;
    padding: 10% 0;
  }
  .start,.contentBg div{width: 70%;}
  .question img{
    width: 100%;
    margin-top: 8%;
  }
  .giftBg{background-size: cover;padding: 10% 0;}
  
  .header_m .logo { width: 45%;}
  .header_m .smArea{width: 20%;}
  
  .titleBox p, .infoStep3 p, .infoStep4 li{line-height: 1.4;}
  .gift10,.mamaAd,.menu,.s3iphone11,.s3content,.s3title,
  .section3 .titleBox,.giftBox,.marqueeBg{width: 100%;}
  .mamaOwl,.sample,.eventGift img,.s4newsTitle,.s5noticeTitle,.sponsorTitle,.infoTitle,.giftTitle{width: 80%;}
  .owl-carousel .newsCarouselNav_next,.owl-carousel .newsCarouselNav_prev {   
    top: -40px;
  }
  .owl-carousel .newsCarouselNav_next {
    left: 91%;
    background-size: 60%;
  }
  .owl-carousel .newsCarouselNav_prev {
    left: -16%;
    background-size: 60%;
  }
  .section4 { height: 600px;}
  .infoStep3 div{width: 40%;}
  .infoStep2 { padding: 0;}
  .owl-carousel .carouselNav_prev {
    left: -15%;
    background-size: 60%;
  }
  .owl-carousel .carouselNav_next {
    left: 90%;
    background-size: 60%;
  }
  .eventGift { width: 55%;padding-left: 0;}
  .section1con{width: 90%;}
  .title4-1m { right: 25%;}
  .newsBox { padding: 3em 3.5em;}
  .s2titleB2Box .titleBox{
    display: table-cell;
    padding: 0 1em;
  }
  .owlStepTitle{width: 60%;}
  .s3title,.s5noticeTitle,.sponsorTitle{margin-top: 10%;}
  .sample{margin: 10% auto;}
  .giftBox{margin-bottom: 10%;}
  .giftBox a{margin: 6% auto;width: 48%;}
  .s2titleB2{
    width: 45%;
    padding-left: 1em;
  }
  .videoBox {
    width: 100%;
    margin: 4% auto 2% auto;
  }
  .winnerContent,.winnerContent2 {
    width: 85%;
    padding: 15px 10px 15px 15px;
  }
  .winnerClose,.winnerClose2 { width: 8%;}
  ul.winnerList li { padding: 0 10px;}
  .winnerTitle {font-size: 22px;}  
}
